<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,177}</string>
                <key>spriteSourceSize</key>
                <string>{110,177}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,246}</string>
                <key>spriteSourceSize</key>
                <string>{110,246}</string>
                <key>textureRect</key>
                <string>{{0,177},{110,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rocket.png</string>
            <key>size</key>
            <string>{110,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d30dc22b3b5309ee0d03f6d1f9f2c88a:6ac6666d7b90c28d1545042a055ab2db:f01c65fad1cd56cfb81b6cd8b900d134$</string>
            <key>textureFileName</key>
            <string>rocket.png</string>
        </dict>
    </dict>
</plist>
